
.container-form {
    background: #fff;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    max-height: 600px;
    overflow-y: auto; 
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}
.form-input {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
select:focus {
    border-color: #007bff;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#add-expérience {
    width: 50%;
    padding: 10px;
    background-color: #4e48f1;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    margin-left: 30px;
}

/* button:hover {
    background-color: #0056b3;
} */

.error-message {
    color: red;
    font-size: 12px;
    height: 14px;
    margin-top: 4px;
    display: block;
}

.card-img{
    width: 150px;
    height: 140px;
    border-radius: 50%;
    margin-top: 10px;
}


.modal-container{
    /* display: none; */
    background-color: rgb(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
}
.show{
opacity: 1;
pointer-events: auto;
/* display: block; */
}
#modal{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.2);
    padding: 30px 50px;
    width: 600px;
    max-width: 100%;
}

.outModale{
    /* opacity: 0;
    pointer-events: none; */
    display: none;
}



