* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #0145ab;
    padding: 40px;
    /* background-image: url(/abstract-textured-backgound.jpg); */
}

.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 40px;
}



.side-bare h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #e8eefc;
}


.btn-ajoute-newworker {
    background: #0db36f;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}

.user-card {
    display: flex;
    align-items: center;
    gap: 10px;
    background: white;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 12px;
    box-shadow: 0 4px 18px rgba(235, 29, 29, 0.08);
}

.user-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-card h4 {
    font-size: 16px;
}

.user-card p {
    font-size: 13px;
    color: #777;
}

.btn-edite-profil {
    margin-left: auto;
    width: 30px;
    height: 30px;
    border: none;
    background: #ffe9e7;
    color: #ff9d00;
    border-radius: 50%;
    cursor: pointer;
}

.btn-affiche-profil {
    margin-left: auto;
    width: 30px;
    height: 30px;
    border: none;
    background: #ffe9e7;
    color: #ff9d00;
    border-radius: 50%;
    cursor: pointer;
}

.btn-remove {
    margin-left: auto;
    width: 30px;
    height: 30px;
    border: none;
    background: #ffe9e7;
    color: #c64b45;
    border-radius: 50%;
    cursor: pointer;
}

.btn-pluse {
    margin-left: auto;
    width: 30px;
    height: 30px;
    border: none;
    background: #e7ffee;
    color: #3bcd3e;
    border-radius: 50%;
    cursor: pointer;
}

.section-zone {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


.section {
    background: rgba(255, 255, 255, 0.75);
    padding: 18px;
    border-radius: 18px;
    backdrop-filter: blur(5px);
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
}

.btn-plus {
    width: 30px;
    height: 30px;
    border: none;
    background: #e8eefc;
    border-radius: 50%;
    color: #3553a4;
    cursor: pointer;
}

.user-card.small img {
    width: 40px;
    height: 40px;
}






/* modale filter */
#filtre-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}
#filtre-container.show {
    opacity: 1;
    pointer-events: auto;
}
/* ======= MODAL CARD ======= */
.section-filter {
    background: white;
    width: 380px;
    padding: 25px 30px;
    border-radius: 18px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    animation: slideDown 0.35s ease;
}
.section-title-filter {
    text-align: center;
    margin-bottom: 10px;
}
.section-title-filter span {
    font-size: 22px;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.5px;
}

.close-btn {
    position: absolute;
    top: 10px;
    left: 150px;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    color: #555;
    transition: 0.2s;
}
.section-filter {
    position: relative;
}










/* tablette */
@media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }
    .modal-container h2{
        padding-top: 20px;
    }
    #close{
        margin-bottom: 20px;
    }

}

/* phone */
@media (max-width: 600px) {
    .section-zone {
        grid-template-columns: 1fr;
    }
    .user-card h4 {
        font-size: 14px;
    }
    .user-card p {
        font-size: 12px;
    }

}