* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #0145ab;
    padding: 40px;
    /* background-image: url(/abstract-textured-backgound.jpg); */
}

.container {
    display: grid;
    grid-template-columns: 300px 1fr ;
    gap: 40px;
}



.side-bare h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #e8eefc;
}


.btn-ajoute-newworker {
    background: #0db36f;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}
.user-card {
    display: flex;
    align-items: center;
    gap: 10px;
    background: white;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 12px;
    box-shadow: 0 4px 18px rgba(235, 29, 29, 0.08);
}

.user-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-card h4 {
    font-size: 16px;
}

.user-card p {
    font-size: 13px;
    color: #777;
}

.btn-edite-profil {
    margin-left: auto;
    width: 30px;
    height: 30px;
    border: none;
    background: #ffe9e7;
    color: #ff9d00;
    border-radius: 50%;
    cursor: pointer;
}
.btn-affiche-profil{
    margin-left: auto;
    width: 30px;
    height: 30px;
    border: none;
    background: #ffe9e7;
    color: #ff9d00;
    border-radius: 50%;
    cursor: pointer;
}
.btn-remove{
    margin-left: auto;
    width: 30px;
    height: 30px;
    border: none;
    background: #ffe9e7;
    color: #c64b45;
    border-radius: 50%;
    cursor: pointer;
}

.section-zone {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


.section {
    background: rgba(255, 255, 255, 0.75);
    padding: 18px;
    border-radius: 18px;
    backdrop-filter: blur(5px);
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
}

.btn-plus {
    width: 28px;
    height: 28px;
    border: none;
    background: #e8eefc;
    border-radius: 50%;
    color: #3553a4;
    cursor: pointer;
}

.user-card.small img {
    width: 40px;
    height: 40px;
}


